@import "../../variables";

.c-index-wrapper{
  margin-top: 75px;
  min-height: calc(100vh - 75px);

  padding-top: 60px;
  padding-left: 30px;

  font-family: "Quicksand";
}

.c-index-wrapper h3{
  margin: 0;
  font-size: 1.125rem;
  color: $darkgrey_1;
  margin-bottom: 10px;
}

.c-index-wrapper p{
  margin: 0;
  font-size: 0.9375rem;
  color: $darkgrey_1;
}