@import "../../../../variables";

.bd-left-bar-perf {
  position: fixed;
  left: 0;
  top: 75px;
  bottom: 0;

  width: auto;
  //background-color: $alert_red;
  font-family: "Quicksand";
  padding: 15px 20px;

  z-index: 20;

  transform: translateX(-200px);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.bd-left-bar-perf.active {
  transform: translateX(0px);
  transition: 0.3s;
}

.bdl-create-year {
  width: 163px;
  font-size: 0.9375rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: $lightgrey_1;
}

.bdl-create-photo {
  background-color: $lightgrey_1;
  cursor: pointer;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 4px;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 163px;
}
.bdl-create-photo.hide {
  justify-content: space-between;
  padding-right: 5px;
  cursor: auto;
}
.bdl-create-photo input {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.bdl-years-list {
}
.bdl-create-photo h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 0.9375rem;
}
.bdl-create-year h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 0.9375rem;
}
.bdl-create-year:hover {
  //background: #bbbbbb;
  transition: 0.15s ease;
  background-color: $lightgrey_2;
}
.bdl-create-photo:hover {
  //background: #bbbbbb;
  background-color: $lightgrey_2;
  transition: 0.15s ease;
}

.bdl-years-list h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 0.9375rem;
  cursor: pointer;

  padding: 5px 10px;
  transition: 0.3s ease;

  border: 1px solid $alert_red;
  border-radius: 4px;
}

.bdl-years-list h5:hover {
  //background: #bbbbbb;
  transition: 0.15s ease;
  background-color: $lightgrey_2;
}

.bd-left-bar-btn-to-display-elem-perf {
  font-family: "Quicksand";
  position: relative !important;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid $alert_red;
  border-radius: 4px;
  padding: 5px 10px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 172px;
  background-color: $lightgrey_1 !important;
  transition: 0.15s;
  z-index: 80 !important;
}

.bd-left-bar-btn-to-display-elem-perf h5 {
  margin: 0;
  margin-right: 10px;
  font-size: 0.9375rem;
  font-weight: 600;
}
.bd-left-bar-btn-to-display-elem-perf:hover {
  transition: 0.15s;
  background-color: $lightgrey_2;
}
