@import "../../../../variables";

.bdl-create-year-modal {
  max-width: 500px;
  width: auto;
  height: 335px;
  background-color: $lightgrey_1;

  border-radius: 4px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
  z-index: 20;
  font-family: "Quicksand";
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  @media (max-width: 550px) {
    height: 350px;
    left: 15px;
    right: 15px;
  }
}

.bdl-create-year-modal.active {
  display: block;
}

.bdl-create-year-modal h5 {
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
  font-size: 700;
  color: $darkgrey_1;
}

.bdl-create-year-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bdl-create-year-form label {
  font-size: 0.9375rem;
  font-weight: 500;
  color: $darkgrey_1;
}
.bdl-create-year-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.bdl-create-year-modal-close img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bdl-send-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.bdl-send-input input {
  margin-top: 10px;
  font-family: "Quicksand";
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $lightgrey_3;
}
.bdl-send-input input.active {
  border: 1px solid $darkgrey_1;
  color: $darkgrey_1;
  cursor: pointer;
}
.bdl-send-input input.active:hover {
  background-color: $lightgrey_2;
}
.bdl-custom-hr {
  width: 100%;
  height: 1px;
  background-color: $darkgrey_1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#bdl-create-year-text-input {
  font-size: 1rem;
  font-weight: 700;
  color: $font_grey_1;
  padding: 5px 10px;
  border: 1px solid $lightgrey_3;
  outline: none;
  border-radius: 4px;
}

#remove-categories {
  font-size: 1rem;
  color: $font_grey_1;
  padding: 5px 10px;
  border: 1px solid $lightgrey_3;
  border-radius: 4px;
  outline: none;
}

#bdl-submit-delete-year {
  font-size: 0.9375rem;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: $lightgrey_1;
  color: $darkgrey_1;
  outline: none;
  border: 1px solid $darkgrey_1;
  border-radius: 4px;
  cursor: pointer;
}
#bdl-submit-delete-year:hover {
  background-color: $lightgrey_2;
}

.bdl-year-delete-year-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
