@import "../../../../variables";
.bd-top-bar{

  top: 75px;
  width: 100%;
  background-color: $darkgrey_1 !important;
  font-family: "Quicksand";

  border-bottom: 1px solid $lightgrey_3;
  min-height: 50px;
  height: auto;
  z-index:12;
  display: flex;
  justify-content: center;
  overflow:hidden;

}

.bd-top-bar.alert{
  background-color: $alert_red;
  border-bottom: 1px solid $darkgrey_1;
}

.bd-top-bar-container{
  max-width:1180px;
  width: 100%;
  margin: 0 15px;
  @media (max-width:1090px) {
    margin: 0 0px;
  }


}
.bd-top-bar-categories{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width:550px){
    display: none;
  }

}
.bd-top-bar-category{
  display: flex;

}
.bd-top-bar-category h5{
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 600;

  border-radius: 4px;
  cursor:pointer;
  padding: 5px 10px;
  color: $lightgrey-2;
}
.bd-top-bar-category h5:hover{
  background-color: $lightgrey_1;
  color: $darkgrey_1;

}

.bd-top-bar-categories-mobile{
  z-index: 15;

  background-color: $darkgrey_1;


  height: 50px;

  overflow: hidden;
  @media (max-width:550px){
    display:block
  }
}

.bd-top-bar-categories-mobile select{
  font-size: 0.9375rem;
  font-weight: 700;
  background-color: $darkgrey_1;
  padding: 5px 10px;
border:none;
  outline: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  text-indent: 5px;
  border-radius: 0px;
}
.bd-top-bar-categories-mobile option{
  font-size: 0.9375rem;
  font-weight: 700;
  background-color: $darkgrey_1;

  border-radius: 0px;
}




.bd-top-bar-category.selected{
  background-color: $lightgrey-1;

  border-radius: 4px;
}

.bd-top-bar-category.selected h5{
  color: $darkgrey_1;
}

#b-select-mobile-dessins{

  font-family: "Quicksand";
  color: $lightgrey_2;
  background-color: $darkgrey_1;

  height: 50px;

  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
}

#b-select-mobile-dessins option{
  background-color: $lightgrey_2;
  color: $darkgrey_1;
  padding-left: 15px;
  cursor:pointer;
}
