@import "../../../../variables";

.bd-images-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: calc(100vh - 150px);
  min-width: calc(100vw - 250px);
}
.bd-images-grid {
  padding: 20px 20px;
}

.bd-images-grid h5{
  font-family: 'Quicksand', sans-serif;
  font-weight:600;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.grid-item {
  position: relative;
  transition: .3s ease;
}

.grid-item:hover {
  transform: scale(1.05);
  transition: .3s ease;
}

.grid-item.red {
  border: 4px solid red;
}

.bd-image {
  cursor: pointer;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  margin-top: 20px;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #f2f2f2;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.bd-image-hide-btn img{
  height: 20px;
  width: 20px;
}
.bd-image-edit img{
  height: 20px;
  width: 20px;
}
.bd-image-destroy img{
  height: 20px;
  width: 20px;
}

.bd-image-hide-btn{
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 66px;
  background-color: #f2f2f2;
  display: flex;
  padding: 2px;
  border: 2px solid black;
  z-index: 3;
}

.bd-image-edit{
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 34px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 2px;
  border: 2px solid black;
  z-index: 3;
}

.bd-image-destroy{
  cursor: pointer;
  border: 2px solid black;
  position: absolute;
  right: 2px;
  z-index: 3;
  top: 2px;
  background: #f2f2f2;
  display: flex;
  padding: 2px;
}
.bd-image-destroy:hover{
  background: #bbbbbb;
}
.bd-image-hide-btn:hover{
  background: #bbbbbb;
}
.bd-image-edit:hover{
  background: #bbbbbb;
}