
@import "../../../variables";

.b-main-wrapper {
  position: relative;
}

.bd-category-wrapper {
  max-width: 100%;
  position: relative;
  margin-left: 225px;
  display: flex;
  margin-top: 125px;
}
