@import "../../../variables";
.b-navbar-home-button-wrapper{
margin-left:15px;
}
.b-navbar-main-home-button{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
  height: 75px;
}
.b-navbar-index-link{
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9375rem;
  color: $darkgrey_1;
  transition: .3s;
}
.b-navbar-index-link:hover{
  transition: .3s;
  color: $default_blue;
}


.b-navbar-main-home-button img{
  height: 15px;
  width: 15px;
  transition: .5s;
  cursor: pointer;

}


.b-navbar-index-list-modal.active{
  display: flex;
}
.b-navbar-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
border-color: transparent #dddddd transparent transparent;
}

.b-navbar-container{

  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  height: 50px;
  padding: 5px;
  border-radius: 4px;
}

.b-navbar-container h5{

  margin: 0;
  padding: 0;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 500;
  background-color: #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;

}

.b-navbar-container h5:hover{
  background-color: #bbbbbb;
  color: #3598D8;
}

.b-navbar-option-btn-container-index{
  
  height: 100%;

  display: flex;
  align-items: center;
  padding: 0px;
  position: relative;
  cursor: pointer;
}