@import "../../../../variables";
.bd-left-bar {
  position: fixed;
  left: 0;
  top: calc(75px + 10px);
  bottom: 0;

  width: auto;
  //background-color: $alert_red;
  font-family: "Quicksand";

  z-index: 20;

  transform: translateX(-200px);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.bd-left-bar.active {
  transform: translateX(0px);
  transition: 0.3s;
}

.bd-left-bar-btn-to-display-elem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid $alert_red;
  border-radius: 4px;
  padding: 5px 10px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 172px;
  background-color: $lightgrey_1;
  transition: 0.15s;
}

.bd-left-bar-btn-to-display-elem h5 {
  margin: 0;
  margin-right: 10px;
  font-size: 0.9375rem;
  font-weight: 600;
}
.bd-left-bar-btn-to-display-elem:hover {
  transition: 0.15s;
  background-color: $lightgrey_2;
}

.bdl-create-year {
  width: 172px;
  font-size: 0.9375rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: $lightgrey_1;
}

.bdl-create-photo {
  background-color: $lightgrey_1;
  cursor: pointer;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 4px;
  border: 1px solid $alert_red;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 172px;
}
