@import "../../../../variables";

.bp-perf-delete-performances-wrapper {
  position: fixed;

  display: none;
  z-index: 99;
  max-width: 400px;
  width: auto;
  height: 165px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 15px;
  background-color: $lightgrey_1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  flex-direction: column;
}

.bp-perf-delete-performances-wrapper.active {
  display: flex;
}

#bp-perf-delete-perf-modal-title {
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.bp-close-modal-container {
  position: absolute;
  right: 15px;
  top: 15px;

  display: flex;
}

.bp-close-modal-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bp-close-modal-container select {
  padding: 5px 10px;
}

#remove-perf-select {
  font-size: 1rem;
  color: $font_grey_1;
  padding: 5px 10px;
  border: 1px solid $lightgrey_3;
  border-radius: 4px;
  outline: none;
  max-width: auto;
  width: 200px;
}

#bp-perf-delete-perf-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.bp-delete-perf-input.send {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

.bp-delete-perf-input.send input {
  cursor: default;
  padding: 5px 10px;
  font-size: 0.9375rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: $darkgrey_1;
  width: 100px;
}
