@import "../../variables";
.b-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  font-family: "Quicksand";
  border-bottom: 1px solid $lightgrey_3;
  background-color: $lightgrey_1;
  display: flex;
  justify-content: center;
  z-index: 15;

}

.b-navbar-wrapper{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;

  background-color: $lightgrey_1;
  height: 75px;
  position: relative;
  z-index: 20;
  border-bottom: 1px solid $lightgrey_3;
}

.b-navbar.alert{
  background-color: $alert_red;
  border-bottom: 1px solid $darkgrey_1;
  
}
.b-navbar-wrapper.alert{
  background-color: $alert_red;
  border-bottom: 1px solid $darkgrey_1;
}

/*
.b-navbar-container{

  border: 4px solid orange;

}
*/

.b-navbar-overlay{
  position: fixed;
 // border: 6px solid lightgreen;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  display: none;

}