$dark-1: #424242;
$lightgrey-1: rgba(222, 220, 220, 0.15);
$lightgrey-2: rgba(222, 220, 220, 0.1499);

$lightgrey_1: #f2f2f2;
$lightgrey_2: #dddddd;
$lightgrey_3: #bbbbbb;

$darkgrey_1: #424242;
$font_grey_1: #737373;

$default_blue: #3598d8;
$alert_red: #ff6666;
$edit_green: #ddfadd;
